version: '3.0'
volumes:
 laravel-db:
services:
    database:
      image: "postgres:18"
      ports:
       - 5432:5432
      environment:
        POSTGRES_PASSWORD: ${DB_PASSWORD}
      volumes:
       - laravel-db:/var/lib/postgresql/18/docker
      healthcheck:
        test: ["CMD-SHELL", "pg_isready", "-d", "db_prod"]
        retries: 15
        timeout: 5s
      profiles: [init,start]
    nginx:
     image: "nginx"
     ports:
        - 80:80
        - 443:443
     depends_on:
         database:
          condition: service_healthy
         php-fpm:
          condition: service_started
     volumes:
      - .:/usr/share/nginx/html/
      - ./docker/etc/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./docker/etc/nginx/ssl/server.crt:/etc/nginx/ssl/server.crt
      - ./docker/etc/nginx/ssl/server.key:/etc/nginx/ssl/server.key
     profiles: [start]
    php-fpm:
     ports:
      - 9000:9000
     build:
      context: ./docker
      dockerfile: php-fpm.Dockerfile
      target: php-fpm-base
     command: php-fpm -F -R
     depends_on:
      database:
       condition: service_healthy
     volumes:
      - .:/usr/share/nginx/html/
     profiles: [start]
    init:
     build:
      context: ./docker
      dockerfile: php-fpm.Dockerfile
      target: init
     command: ./init.sh
     profiles: [init]
     depends_on:
      database:
       condition: service_healthy
     volumes:
      - .:/usr/share/nginx/html/
      

      


        
